@model CreateClientModel
@{
    ViewData["Title"] = "Clients | New";
}

<div class="clients-page">
   
    <h2>
        New Client
    </h2>

    <div class="row">
        <div class="col-md-6">
            <form method="post" asp-action="New">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ClientId" class="control-label"></label>
                    <input class="form-control" minlength="4" maxlength="40" asp-for="ClientId" autofocus />
                    <span asp-validation-for="ClientId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Secret" class="control-label"></label>
                    <input class="form-control" minlength="4" maxlength="40" asp-for="Secret" />
                    <span asp-validation-for="Secret" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input class="form-control" minlength="4" maxlength="40" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Flow" class="control-label"></label>
                    <select class="form-control" asp-for="Flow">
                        <option value="0">Client Credentials</option>
                        <option value="1">Code Flow (with PKCE)</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Save Changes</button>
                    @*<a class="btn btn-secondary" asp-action="Index">Back to List</a>*@
                </div>
            </form>
            <div>
                <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}